<div class="wrapper d-flex flex-column align-items-center">
  <div class="w-100">
    <h1 class="text-center">{{title | uppercase}}</h1>
    <nav class="d-flex justify-content-center my-4">
      <button type="button" class="btn d-block btn-primary mr-4 w-25" routerLink="/things">Things</button>
      <button type="button" class="btn d-block btn-primary w-25" routerLink="/cars">Cars</button>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>