<h2 class="py-5 text-center">Things</h2>
<div class="row">
    <form class="form-row w-100" [formGroup]="thingForm" (ngSubmit)="onSubmit(thingForm.value)">
        <input class="col-md-12 mb-3 form-control" id="desc" type="text" formControlName="desc"
            placeholder="Enter new thing" required>
        <button class="btn btn-primary btn-block" type="submit">Add Thing</button>
    </form>
    
    <table class="table table-striped mt-5">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let thing of things$ | async">{{thing.desc}}</li>
        </ul>
    </table>
</div>
