<h2 class="py-5 text-center">Cars</h2>
<div class="row">
    <form class="form-row w-100" [formGroup]="carForm" (ngSubmit)="onSubmit(carForm.value)">
        <input class="col-md-4 mb-3 form-control" id="make" type="text" formControlName="make" placeholder="Enter the car's make" required>
        <input class="col-md-4 mb-3 form-control" id="model" type="text" formControlName="model" placeholder="Enter the car's model" required>
        <input class="col-md-2 mb-3 form-control" id="year" type="number" formControlName="year" placeholder="Year of the car" required>
        <input class="col-md-2 mb-3 form-control" id="milleage" type="number" formControlName="milleage" placeholder="Milleage of the car" required>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add Car</button>
    </form>
    
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Mileage</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars$ | async">
                <th scope="row">{{car.id}}</th>
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
                <td>{{car.milleage}}</td>
                <td><button (click)="onDelete(car)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        
        </tbody>
    </table>
</div>
