/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.wrapper{
    min-height: 100vh;
}